@{
    ViewBag.Title = "Home Page";
    @model ApplicacionPizzaExamen2.Models.PizzaOrdenModel

}
<head>
    <script>
        var tipoTamano = "Mediana";
        var tipoMasa = "Masa regular";
        var tipoSalsa = "Salsa de Tomate";
        var tipoQueso = "Mozzarella";
        var listaToppings = [];

        function mostrarFormularioPizza() {
            document.getElementById("modal").style = "display: block;";
            toggleTabFormulario("#baseButton", "base");
            toggleTabBase("#masaButton", "masa");

        }

        function quitarFormularioPizza() {
            var modal = document.getElementById("modal");
            modal.style = "display: none;";
            document.getElementById("form").reset()
        }

        function toggleTabFormulario(buttonName, divName) {
            $("#baseButton").removeClass('active');
            $("#toppingsButton").removeClass('active');
            $("#lugarButton").removeClass('active');
            $(buttonName).addClass('active');

            document.getElementById('base').style = "display: none;";
            document.getElementById('toppings').style = "display: none;";
            document.getElementById('lugar').style = "display: none;";
            document.getElementById(divName).style = "display = block;";
        }

        function toggleTabBase(buttonName, divName) {
            $("#masaButton").removeClass('active');
            $("#salsaButton").removeClass('active');
            $("#quesoButton").removeClass('active');
            $(buttonName).addClass('active');

            document.getElementById('masa').style = "display: none;";
            document.getElementById('salsa').style = "display: none;";
            document.getElementById('queso').style = "display: none;";
            document.getElementById(divName).style = "display = block;";

        }

        function cerrarNotificacion(idNotificacion) {
            document.getElementById(idNotificacion).style = "display: none;";
        }

        function actualizarTopping(itemNombre) {
            if (listaToppings.includes(itemNombre)) {
                listaToppings.splice(listaToppings.indexOf(itemNombre), 1);
            }
            else {
                listaToppings.push(itemNombre);
            }
            actualizarIngredientes();
        }

        function actualizarBase(tipoItem, itemNombre) {
            if (tipoItem === "tamano") {
                tipoTamano = itemNombre;
            }
            if (tipoItem === "masa") {
                tipoMasa = itemNombre;
            }
            if (tipoItem === "salsa") {
                tipoSalsa = itemNombre;
            }
            if (tipoItem === "queso") {
                tipoQueso = itemNombre;
            }
            actualizarIngredientes();
        }

        function actualizarIngredientes() {
            var toppingsString = "";
            for (index = 0; index < listaToppings.length; index++) {
                toppingsString = toppingsString.concat(', ' + listaToppings[index]);
            }

            document.getElementById('ingredientesPizza').textContent = tipoTamano + ', ' + tipoMasa + ', ' + tipoSalsa + ', ' + tipoQueso + toppingsString;
        }
    </script>


</head>

@{
    if (ViewBag.MensajeExito != null)
    {
        <div id="notif-exito" class="popup-box alert-success" style="display:block; margin-left:25%; margin-right:25%">
            @ViewBag.MensajeExito
            <button type="button" onclick="cerrarNotificacion('notif-exito')" style="background-color: transparent; border:none; color: #3636d8;"><u>Cerrar</u></button>
        </div>
    }
    if (ViewBag.MensajeCancelar != null)
    {
        <div id="notif-cancelar" class="popup-box alert-warning" style="display:block; margin-left: 40%; margin-right: 40%;">
            @ViewBag.MensajeCancelar 
            <button type="button" onclick="cerrarNotificacion('notif-cancelar')" style="background-color: transparent; border:none; color: #9a6920;"><u>Cerrar</u></button>
        </div>
    }
    if (ViewBag.MensajeError != null)
    {
        <div id="notif-error" class="popup-box alert-danger" style="display:block; margin-left: 40%; margin-right: 40%;">
            @ViewBag.MensajeError
            <button type="button" onclick="cerrarNotificacion('notif-error')" style="background-color: transparent; border:none; color: #bd2130;"><u>Cerrar</u></button>
        </div>
    }
}



<div class="pizza-banner shadow">

    <div class="container body-content">

    </div>

</div>
<div class="container body-content margin-top ">
    <div class="row">
        <div style="position:relative; left: 2%; margin-top: -25px; margin-bottom: 25px;">
            <button type="button" class="btn box-btn" onclick="mostrarFormularioPizza()">  ORDENE YA  </button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
<div id="modal" class="row modal">
    <div class="box-container">
        <div class="box-header row">
            <div class="col-md-11 box-header-title">Arma tu pizza</div>
            <button type="button" id="close" class="col-md-1 btn box-header-links" onclick="quitarFormularioPizza()">Cancelar</button>
        </div>
        <div class="contenedor-blanco formulario-pizza-body ">
            @using (Html.BeginForm("SumarACarrito", "PizzaApp", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))
            {
                <div class="row buttons-navbar " style="margin-left: 5%; margin-right: 5%;">
                    <button id="baseButton" type="button" onclick="toggleTabFormulario(this, 'base')" class="btn col-md-4 nav-bar-text"><i class="fas fa-cheese"></i>  Masa/Salsa/Queso</button>
                    <button id="toppingsButton" type="button" onclick="toggleTabFormulario(this, 'toppings')" class="btn col-md-4 nav-bar-text"><i class="fas fa-pepper-hot"></i>  Toppings</button>
                    <button id="lugarButton" type="button" onclick="toggleTabFormulario(this, 'lugar')" class="btn col-md-4 nav-bar-text"><i class="fas fa-pepper-hot"></i>  Lugar de envio</button>
                </div>
                <hr />
                <div class="row" style="padding: 15px;">
                    <div class="col-md-3">
                        <h2 style="text-align:center;">Tu pizza</h2>
                        <img src="~/Content/Imagenes pizza/pizzaVector.png" alt="Pizza base" style="width:280px;height:280px;">
                        <div id="ingredientesPizza" class="row" style="justify-content:center; margin-left: 5px; margin-top: 15px; ">
                            Mediana, Masa regular, Salsa Tomate, Mozzarella
                        </div>
                        <div class="row tamano-body" style="margin-left: 15px; margin-top: 10px;">
                            <div class="col-md-4" style="padding-left:0px; padding-right:0px;">
                                <input onclick ="actualizarBase('tamano', 'Pequeña')" type="radio" class="select_item" name="tamanoPizza" id="choose-size-small" value="Pequeña" />
                                <label for="choose-size-small" style="width: 100%; height: 100%; padding: 5px;">
                                    <span class=" tamano-text row">Pequeña</span>
                                    <span class="tamano-text row">6 slices</span>
                                    <span class="row red-divider-tamano"></span>
                                    <i class="row fas fa-pizza-slice fa-1x" style="padding-top:25px;"></i>
                                </label>
                            </div>
                            <div class="col-md-4" style="padding-left:0px; padding-right:0px;">
                                <input onclick ="actualizarBase('tamano', 'Mediana')" type="radio" class="select_item" name="tamanoPizza" id="choose-size-medium" value="Mediana" checked />
                                <label for="choose-size-medium" style="width: 100%; height: 100%; padding: 5px;">
                                    <span class="tamano-text row">Mediana</span>
                                    <span class="tamano-text row">8 slices</span>
                                    <span class="row red-divider-tamano"></span>
                                    <i class="row fas fa-pizza-slice fa-2x" style="padding-top:15px;"></i>
                                </label>
                            </div>
                            <div class="col-md-4" style="padding-left:0px; padding-right:0px;">
                                <input onclick ="actualizarBase('tamano', 'Grande')" type="radio" class="select_item" name="tamanoPizza" id="choose-size-large" value="Grande" />
                                <label for="choose-size-large" style="width: 100%; height: 100%; padding: 5px;">
                                    <span class="tamano-text row">Grande</span>
                                    <span class="tamano-text row">10 slices</span>
                                    <span class="row red-divider-tamano"></span>
                                    <i class="row fas fa-pizza-slice fa-3x" style="padding-top:10px;"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9" style="padding-left: 60px;">
                        <div id="base" style="display:none; ">
                            <div class="row buttons-navbar " style="margin-left: 20%; margin-right:20%; padding: 25px; text-align:center;">
                                <button id="masaButton" type="button" onclick="toggleTabBase(this, 'masa' )" class="btn col-md-4 nav-bar-text">Masa</button>
                                <button id="salsaButton" type="button" onclick="toggleTabBase(this, 'salsa')" class="btn col-md-4 nav-bar-text">Salsa</button>
                                <button id="quesoButton" type="button" onclick="toggleTabBase(this, 'queso')" class="btn col-md-4 nav-bar-text">Queso</button>

                            </div>
                            <hr />
                            <div id="masa" class="row" style="display:none;">
                                <div class="col-md-3">

                                    <input onclick ="actualizarBase('masa', 'Masa Regular')" type="radio" class="select_item" name="MasaPizza" id="choose-masa-1" value="Masa regular" checked />
                                    <label class="box-item" for="choose-masa-1">
                                        <span class=" seleccionar-text row">Seleccionar</span>
                                        <span class="item-name row">Masa regular</span>
                                        <span class="row red-divider"></span>

                                        <img src="~/Content/Imagenes pizza/toppings/en/2x/RD.png" style="width:150px;height:150px;" />
                                    </label>

                                </div>
                                <div class="col-md-3">
                                    <input onclick ="actualizarBase('masa', 'Masa fina')" type="radio" class="select_item" name="MasaPizza" id="choose-masa-2" value="Masa fina" />
                                    <label class="box-item" for="choose-masa-2">
                                        <span class=" seleccionar-text row">Seleccionar</span>
                                        <span class="item-name row">Masa fina</span>
                                        <span class="row red-divider"></span>
                                        <img src="~/Content/Imagenes pizza/toppings/en/2x/ZC.png" style="width:150px;height:150px;" />
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <input onclick ="actualizarBase('masa', 'Masa gruesa')" type="radio" class="select_item" name="MasaPizza" id="choose-masa-3" value="Masa gruesa" />
                                    <label class="box-item" for="choose-masa-3">
                                        <span class=" seleccionar-text row">Seleccionar</span>
                                        <span class="item-name row">Masa gruesa</span>
                                        <span class="row red-divider"></span>
                                        <img src="~/Content/Imagenes pizza/toppings/en/2x/ZD.png" style="width:150px;height:150px;" />
                                    </label>
                                </div>
                            </div>
                            <div id="salsa" class="row" style="display:none;">

                                <div class="col-md-3">

                                    <input onclick ="actualizarBase('salsa', 'Salsa de tomate')" type="radio" class="select_item" name="SalsaPizza" id="choose-salsa-1" value="Tomate" checked />
                                    <label class="box-item" for="choose-salsa-1">
                                        <span class=" seleccionar-text row">Seleccionar</span>
                                        <span class="item-name row">Tomate</span>
                                        <span class="row red-divider"></span>
                                        <img src="~/Content/Imagenes pizza/toppings/en/2x/basesauce/SH.png" style="width:150px;height:150px;" />
                                    </label>

                                </div>
                                <div class="col-md-3">
                                    <input onclick ="actualizarBase('salsa', 'Salsa pesto')" type="radio" class="select_item" name="SalsaPizza" id="choose-salsa-2" value="Pesto" />
                                    <label class="box-item" for="choose-salsa-2">
                                        <span class=" seleccionar-text row">Seleccionar</span>
                                        <span class="item-name row">Pesto</span>
                                        <span class="row red-divider"></span>
                                        <img src="~/Content/Imagenes pizza/toppings/en/2x/basesauce/SP.png" style="width:150px;height:150px;" />
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <input onclick ="actualizarBase('salsa', 'Salsa buffalo')" type="radio" class="select_item" name="SalsaPizza" id="choose-salsa-3" value="Buffalo" />
                                    <label class="box-item" for="choose-salsa-3">
                                        <span class=" seleccionar-text row">Seleccionar</span>
                                        <span class="item-name row">Buffalo</span>
                                        <span class="row red-divider"></span>
                                        <img src="~/Content/Imagenes pizza/toppings/en/2x/basesauce/BU.png" style="width:150px;height:150px;" />
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <input onclick ="actualizarBase('salsa', 'Salsa crema y ajo')" type="radio" class="select_item" name="SalsaPizza" id="choose-salsa-4" value="Crema y ajo" />
                                    <label class="box-item" for="choose-salsa-4">
                                        <span class=" seleccionar-text row">Seleccionar</span>
                                        <span class="item-name row">Crema y ajo</span>
                                        <span class="row red-divider"></span>
                                        <img src="~/Content/Imagenes pizza/toppings/en/2x/basesauce/GS.png" style="width:150px;height:150px;" />
                                    </label>
                                </div>
                            </div>
                            <div id="queso" class="row">
                                <div class="col-md-3">

                                    <input onclick ="actualizarBase('queso', 'Mozzarella')" type="radio" class="select_item" name="QuesoPizza" id="choose-queso-1" value="Mozzarella" checked />
                                    <label class="box-item" for="choose-queso-1">
                                        <span class=" seleccionar-text row">Seleccionar</span>
                                        <span class="item-name row">Mozzarella </span>
                                        <span class="row red-divider"></span>
                                        <img src="~/Content/Imagenes pizza/toppings/en/2x/MZ.png" style="width:150px;height:150px;" />
                                    </label>

                                </div>
                                <div class="col-md-3">
                                    <input onclick ="actualizarBase('queso', 'Parmesano')" type="radio" class="select_item" name="QuesoPizza" id="choose-queso-2" value="Parmesano" />
                                    <label class="box-item" for="choose-queso-2">
                                        <span class=" seleccionar-text row">Seleccionar</span>
                                        <span class="item-name row">Parmesano</span>
                                        <span class="row red-divider"></span>
                                        <img src="~/Content/Imagenes pizza/toppings/en/2x/ZB.png" style="width:150px;height:150px;" />
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <input onclick ="actualizarBase('queso', 'Cuatro quesos')" type="radio" class="select_item" name="QuesoPizza" id="choose-queso-3" value="Cuatro quesos" />
                                    <label class="box-item" for="choose-queso-3">
                                        <span class=" seleccionar-text row">Seleccionar</span>
                                        <span class="item-name row">Cuatro quesos</span>
                                        <span class="row red-divider"></span>
                                        <img src="~/Content/Imagenes pizza/toppings/en/2x/XC.png" style="width:150px;height:150px;" />
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <input onclick ="actualizarBase('queso', 'Sin queso')" type="radio" class="select_item" name="QuesoPizza" id="choose-queso-4" value="Sin queso" />
                                    <label class="box-item" for="choose-queso-4">
                                        <span class=" seleccionar-text row">Seleccionar</span>
                                        <span class="item-name row">Sin queso</span>
                                        <span class="row red-divider"></span>
                                        <img src="~/Content/Imagenes pizza/toppings/en/2x/NC.png" style="width:150px;height:150px;" />
                                    </label>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="col-md-6 " style="margin-left:79%; margin-top: 97px;    ">
                                    <button type="button" onclick="toggleTabFormulario('#toppingsButton', 'toppings')" class="btn submit-btn">Siguiente <i class="fa fa-arrow-right"></i> </button>
                                </div>

                            </div>
                        </div>
                        <div id="toppings" style="display:none;">
                            <div style="overflow-y:scroll; overflow-x:hidden; margin-left:-30px; height: 530px;">
                                <div class="row">
                                    <div class="col-md-3">

                                        <input onclick ="actualizarTopping('Jamón')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-1" value="Jamón" />
                                        <label class="box-item" for="choose-top-1">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Jamón</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/H.png" style="width:150px;height:150px;" />
                                        </label>

                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Pepperoni')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-2" value="Pepperoni" />
                                        <label class="box-item" for="choose-top-2">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Pepperoni</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/PN.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Tocino')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-3" value="Tocino" />
                                        <label class="box-item" for="choose-top-3">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Tocino</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/BS.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Carne Molida')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-4" value="Carne Molida" />
                                        <label class="box-item" for="choose-top-4">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Carne Molida</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/GB.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Salami')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-5" value="Salami" />
                                        <label class="box-item" for="choose-top-5">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Salami</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/SA.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Pollo')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-6" value="Pollo" />
                                        <label class="box-item" for="choose-top-6">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Pollo</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/CH.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Chorizo')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-7" value="Chorizo" />
                                        <label class="box-item" for="choose-top-7">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Chorizo</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/ZO.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Fajitas')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-8" value="Fajitas" />
                                        <label class="box-item" for="choose-top-8">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Fajitas</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/K.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Champiñones')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-9" value="Champiñones" />
                                        <label class="box-item" for="choose-top-9">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Champiñones</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/FM.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Aceitunas')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-10" value="Aceitunas" />
                                        <label class="box-item" for="choose-top-10">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Aceitunas</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/BO.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Piña')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-11" value="Piña" />
                                        <label class="box-item" for="choose-top-11">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Piña</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/PI.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Cebolla morada')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-12" value="Cebolla morada" />

                                        <label class="box-item" for="choose-top-12">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Cebolla morada</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/O.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Chile dulce')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-13" value="Chile dulce" />
                                        <label class="box-item" for="choose-top-13">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Chile dulce</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/HP.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Espinaca')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-14" value="Espinaca" />
                                        <label class="box-item" for="choose-top-14">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Espinaca</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/S.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Jalapeño')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-15" value="Jalapeño" />
                                        <label class="box-item" for="choose-top-15">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Jalapeño</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/JP.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <input onclick ="actualizarTopping('Culantro')" type="checkbox" class="select_item" name="ListaToppings" id="choose-top-16" value="Culantro" />
                                        <label class="box-item" for="choose-top-16">
                                            <span class=" seleccionar-text row">Seleccionar</span>
                                            <span class="item-name row">Culantro</span>
                                            <span class="row red-divider"></span>
                                            <img src="~/Content/Imagenes pizza/toppings/en/2x/LN.png" style="width:150px;height:150px;" />
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" style="margin-left:79%; margin-top: 25px;">
                                    <button type="button" onclick="toggleTabFormulario('#lugarButton', 'lugar')" class="btn submit-btn"> Siguiente <i class="fa fa-arrow-right"></i></button>
                                </div>

                            </div>
                        </div>
                        <div id="lugar" style="display:none;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label" for="NombreCliente" style="width: 100%; height: 100%; padding: 5px;"> Su nombre: </label>
                                    @Html.TextBoxFor(model => model.NombreCliente, new { @class = "form-control box-input", @placeholder = "Escriba aquí un nombre con que identificarse." })
                                    @Html.ValidationMessageFor(model => model.CiudadCliente, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="CiudadCliente" style="width: 100%; height: 100%; padding: 5px;"> Ciudad de envio: </label>
                                    @Html.TextBoxFor(model => model.CiudadCliente, new { @class = "form-control box-input", @placeholder = "Escriba aquí la ciudad de envio." })
                                    @Html.ValidationMessageFor(model => model.CiudadCliente, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="DireccionCliente" style="width: 100%; height: 100%; padding: 5px;"> Dirección específica: </label>
                                    @Html.TextBoxFor(model => model.DireccionCliente, new { @class = "form-control box-input", @placeholder = "Escriba aquí la dirección específica de envio." })
                                    @Html.ValidationMessageFor(model => model.DireccionCliente, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="NumeroCliente" style="width: 100%; height: 100%; padding: 5px;"> Número de teléfono: </label>
                                    @Html.TextBoxFor(model => model.NumeroCliente, new { @class = "form-control box-input", @placeholder = "Escriba aquí su númerico telefónico." })
                                    @Html.ValidationMessageFor(model => model.NumeroCliente, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class=" row form-group">
                                <div class="col-md-6 " style="margin-left:15px; margin-top: 10px;">
                                    <button type="submit" class="btn submit-btn"><i class="fas fa-shopping-cart"></i> Añadir pizza al carrito </button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            }

        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}