@{
    ViewBag.Title = "MostrarCarrito";

}
    <div class="container body-content " style="font-size: 20px; font-weight:400;">

        @if (ViewBag.Factura != null)
        {
            <br />
            <div class="box-header row">
                <div class="col-md-11 box-header-title">Carrito de compra</div>
                <button id="close" class="col-md-1 btn box-header-links" onclick="quitarFormularioPizza()"></button>
            </div>
            <div class="contenedor-blanco">

                <h2> Una pizza </h2>
                <hr />
                <h4>Tamaño: </h4>
                <div style="margin-left: 10%;">
                    <div class="row">
                        <div class="col-md-10">@ViewBag.Factura.Orden.TamanoPizza</div>
                        <div class="col-md-2"> <h4>@ViewBag.Factura.PrecioTamanoPizza ₡</h4></div>
                    </div>
                </div>

                <hr />
                <h4> Ingredientes base de la pizza: </h4>
                <br />
                <div style="margin-left: 10%;">
                    <div class="row">
                        <div class="col-md-10">@ViewBag.Factura.Orden.MasaPizza</div>
                        <div class="col-md-2"> @ViewBag.Factura.PrecioMasaPizza ₡</div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">@ViewBag.Factura.Orden.SalsaPizza</div>
                        <div class="col-md-2"> @ViewBag.Factura.PrecioSalsaPizza ₡</div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">@ViewBag.Factura.Orden.QuesoPizza</div>
                        <div class="col-md-2"> @ViewBag.Factura.PrecioQuesoPizza ₡</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-10">Total por pizza base:</div>
                        <div class="col-md-2"> <h4>@ViewBag.Factura.PrecioTotalBase ₡</h4></div>
                    </div>
                </div>
                <hr />
                <h4> Toppings: </h4>
                <br />
                <div style="margin-left: 10%;">
                    @{
                        for (int i = 0; i < ViewBag.Factura.ListaPrecioToppings.Count; i++)
                        {
                            <div class="row">
                                <div class="col-md-10">@ViewBag.Factura.Orden.ListaToppings[i]</div>
                                <div class="col-md-2"> @ViewBag.Factura.ListaPrecioToppings[i] ₡</div>
                            </div>
                        }
                    }
                    <hr />
                    <div class="row">
                        <div class="col-md-10">Total por toppings:</div>
                        <div class="col-md-2"><h4>@ViewBag.Factura.PrecioTotalToppings ₡</h4></div>
                    </div>

                </div>
                <hr />
                <h4> Información de envio:</h4>
                <br />
                <div style="margin-left: 10%;">
                    <div class="row" style="word-wrap: break-word;">
                        <div class="col-md-12">
                            <strong>Nombre:  </strong> @ViewBag.Factura.Orden.NombreCliente
                        </div>
                        
                    </div>
                    <div class="row" style="word-wrap: break-word;">
                        <div class="col-md-12">
                            <strong>Ciudad:  </strong> @ViewBag.Factura.Orden.CiudadCliente
                        </div>
                        
                    </div>
                    <div class="row" style="word-wrap: break-word;">
                        <div class="col-md-12">
                            <strong>Dirección: </strong> @ViewBag.Factura.Orden.DireccionCliente
                        </div>
                       
                    </div>
                    <div class="row" style="word-wrap: break-word;">
                        <div class="col-md-12">
                            <strong>Teléfono: </strong> @ViewBag.Factura.Orden.NumeroCliente
                        </div>
                        
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-10"><h4>Costo de envío:</h4></div>
                    <div class="col-md-2"> @ViewBag.Factura.PrecioEnvio ₡</div>
                </div>
                <div class="row">
                    <div class="col-md-10"><h4>Subtotal:</h4></div>
                    <div class="col-md-2"> @ViewBag.Factura.PrecioSubtotal ₡</div>
                </div>
                <div class="row">
                    <div class="col-md-10"><h4>Impuesto:</h4></div>
                    <div class="col-md-2"> @ViewBag.Factura.PrecioImpuesto ₡</div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-10"><h4>Total:</h4></div>
                    <div class="col-md-2"> <h4>@ViewBag.Factura.PrecioTotal ₡</h4></div>
                </div>
                <br />
                <a class="btn submit-btn" href="@Url.Action("TramitarOrden", "PizzaApp", new { estadoOrden = "Aceptada"}, null)"><i class="fas fa-check"></i> Ordenar pedido</a>
                <a class="btn cancel-btn" href="@Url.Action("TramitarOrden", "PizzaApp", new { estadoOrden = "Cancelada"}, null)"><i class="fas fa-times"></i>  Cancelar pedido</a>

            </div>

        }
        else
        {
            <br />
            <br />
            <br />
            <h2>Lo sentimos el carrito esta vacío.</h2>
            <br />
            <br />             
            @Html.ActionLink("Regresar a la página principal", "Index", "PizzaApp", new { @class = "btn submit-btn" })
        }


    </div>


